.app_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: hsla(39, 100%, 77%, 1);
  background: linear-gradient(90deg, hsla(39, 100%, 77%, 1) 0%, hsla(22, 90%, 57%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(39, 100%, 77%, 1) 0%, hsla(22, 90%, 57%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(39, 100%, 77%, 1) 0%, hsla(22, 90%, 57%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD78A", endColorstr="#F4762D", GradientType=1 ); */
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 400px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  text-align: center;
}

h1{
  margin-bottom:20px;
}